<% if form_errors %>
  <div class="errors">
    <ul>
      <% errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for form do
    div do
      label "Email"
      text_field :email
    end
    div do
      label "Password"
      password_field :password
    end

    submit 'Sign up'
  end
%>

<%= link_to "Sign in", routes.new_session_path %>
