<div class="filters">
  <%=
    form_for filter_form, class: "form-inline" do
      div class: "mr-2" do
        text_field :email, class: "form-control", placeholder: "Email"
      end

      fields_for :role do
        user_roles.each do |role|
          div class: "form-check form-check-inline" do
            check_box role.to_sym, value: role, class: "form-check-input"
            label role.to_sym, class: "form-check-label"
          end
        end
      end

      submit "Filter", class: "btn btn-primary"
    end
  %>
</div>
