<% if form_errors %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for form do
    div class: 'input' do
      label :email
      email_field :email
    end

    div class: 'input' do
      label :password
      password_field :password
    end

    div class: 'input' do
      user_roles.each do |role|
        radio_button :role, role, id: "#{role}-role"
        label role.to_sym, for: "#{role}-role"
      end
    end

    div class: 'controls' do
      submit submit_label
    end
  end
%>
