<div class="container">
  <h2>Add User</h2>

  <%= render template: 'users/_form'%>

  <div class="row mt-4">
    <div class="col">
      <%= link_to "Back", routes.users_path %>
    </div>
  </div>
</div>
