<div class="container">
  <h1>User #<%= user.id %></h1>

  <% user.to_h.each do |field, value| %>
    <div class="row">
      <div class="col-2 font-weight-bold"><%= field.capitalize %>:</div>
      <div class="col-auto"><%= value %></div>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col">
      <%= link_to "Back", routes.users_path %>
    </div>
  </div>
</div>
