<%if count_pages > 1 %> 
  <nav class="paginator">
    <ul class="pagination">
      <% count_pages.times do |page| %>
        <li class="page-item">
          <%= page_link(page) %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
